# Unity
Library/
Logs/
Temp/
Obj/
Build/
Builds/
UserSettings/

# Visual Studio / VSCode
.vscode/

# Auto generated
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb

# OS
.DS_Store
Thumbs.db
